body {
  font-family: "Segoe UI", sans-serif;
  width: 320px;
  margin: 0;
  padding: 15px;
  background-color: #09090b;
  color: #e4e4e7;
}

.container {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #282828;
  background-color: #27272a;
  outline: none;
  color: #e4e4e7;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  background-color: #f8f9fa;
  color: rgb(0, 0, 0);
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e9ecef;
}

#urlList {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

#urlList li {
  background: #27272a;
  border: 1px solid #282828;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #urlList li button {
  background-color: #0097A7;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 3px;
  color: #e4e4e7;
  transition: background-color 0.3s ease;
  margin-top: auto;
  margin-bottom: auto;
}

#urlList li button:hover {
  background-color: #00838F;
} */

.clean-button {
  background-color: #0097A7;
  color: #e4e4e7;
  transition: background-color 0.3s ease;
}

.clean-button:hover {
  background-color: #00838F;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
